<p id="notice"><%= notice %></p>

<h1>Share Your Notes</h1>

<table>
  <thead>
    <tr>
    
      <th class="row_3">Title</th>
      
    
      <th> Share It. </th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="titlepost"><%= post.title %></td><br>
        <td><%= post.content %></td><br>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

 <div class="downfoot">
     <%= link_to 'Home Page', news_index_path %>
    <p> address:Harding street FL.</p><br>
    <p>Email:Philtheword@gmail.com</p>
    </div>
    
